body{ background: beige
}
h1 { 
    color: blue
    }
    h1 {
        text-align: center
    }
    h1 {
        font-family: cursive
    }
    h2 {
        color: rgb(117, 117, 226)
    }
    img {
        size: 2mm
    }